@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
body{
    height: 98vh;
    background-image: url("img/caminhao-carregado-leve.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}
header{
    height: 150px;
    background-color: black;
    color: white;
}
h1{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 3em;
}
nav{
    padding: 10px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
    text-align: right;
}
nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition-duration: .8s;
}
nav > a:hover{
}
main{
}
main > div{
    width: 600px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}


footer{
    background-color: black;
    color: white;
    height: 70px;
    margin-top: 20px;
}
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor0);
}
